@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif !important;
  text-align: center;
}

canvas {
  vertical-align: top;
}

#app {
  display: flex;
  align-items: center;
  min-height: 100vh;
  max-width: 1300px;
  padding: 50px 0;
  margin: 0 auto;
}

#controls {
  padding: 25px 15px;
  position: relative;
  left: 0;
  z-index: 2;
}

#canvas {
  position: fixed;
  transform: translateY(-50%);
  z-index: 1;
  right: 5%;
  top: 50%;
}

button {
  margin-right: 5px;
}

button:active,
button:focus {
  outline: none;
  box-shadow: none;
}

button,
select,
label.file-upload,
textarea {
  font-family: 'Open Sans', sans-serif !important;
  border: 1px solid rgb(169, 169, 169, 0.7);
  transition: all 0.2s ease-in;
  padding: 2px 10px;
  border-radius: 3px;
  background: none;
  color: black;
}

button,
select,
label.file-upload {
  cursor: pointer;
}

select,
input,
textarea {
  min-width: 200px;
}

textarea {
  width: 100%;
}

button:hover,
label.file-upload:hover {
  background: rgba(0, 0, 0, 0.075);
}

input[type="file"] {
  display: none;
}

label.file-upload {
  font-size: 13px;
}

.ui-group {
  margin-bottom: 15px;
}

.ui-group-header {
  text-align: left;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ui-group-body {}

.ui-group-header-title {
  font-size: 14px;
  color: black;
}

.ui-field {
  display: flex;
  text-align: left;
  margin-bottom: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}

.ui-field.column {
  flex-direction: column;
}

.ui-field.column .ui-value {
  padding-left: 0;
  width: 100%;
}

.ui-field.column textarea {}

.ui-value {
  flex: 1;
  padding-left: 15px;
}

.ui-label-text {
  font-size: 12px;
  color: black;
}

.ui-label-subtext {
  color: #aaa;
  font-size: 10px;
  max-width: 100px
}

.ui-label-subtext.font-medium {
  font-size: 12px;
}

.ui-value.slider {
  max-width: 400px;
}

.irs--modern .irs-grid-text {
  display: none;
}

.info-text {
  font-size: 12px;
  color: #aaa;
}

.ui-buttons button {
  margin-bottom: 5px;
}

.ui-field button.active {
  color: white;
  background-color: #20b426;
  border-color: #20b426;
}

@media(max-width: 1400px) {
  #canvas {
    right: 5%;
  }
}

@media(max-width: 1200px) {
  #app {
    flex-direction: column;
  }

  #canvas {
    position: relative;
    transform: translate(0);
    top: 0;
    left: 0;
  }
}